In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

df1 = pd.read_csv('/kaggle/input/titanic/train.csv')
df1.head(10)

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [2]:
df2 = pd.read_csv('/kaggle/input/titanic/test.csv')
df2.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [3]:
df3 = pd.read_csv('/kaggle/input/titanic/gender_submission.csv')
df3.head(10)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [4]:
print(df1.info())  # Check data types & missing values
print(df1.describe())
print(df1.isnull().sum())  # Check missing values

print(df2.info())
print(df2.describe())
print(df2.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [5]:
# Fill missing 'Embarked' values with the most common value
df1['Embarked'] = df1['Embarked'].fillna(df1['Embarked'].mode()[0])

# Fill missing 'Age' values using median based on 'Pclass' and 'Sex'
df1['Age'] = df1.groupby(['Pclass', 'Sex'])['Age'].transform(lambda x: x.fillna(x.median()))
df2['Age'] = df2.groupby(['Pclass', 'Sex'])['Age'].transform(lambda x: x.fillna(x.median()))

# Fill missing 'Fare' in test set with median Fare based on 'Pclass'
df2['Fare'] = df2.groupby('Pclass')['Fare'].transform(lambda x: x.fillna(x.median()))

# Convert 'Cabin' to a binary feature (1 if has a cabin, 0 if NaN)
df1['HasCabin'] = df1['Cabin'].notnull().astype(int)
df2['HasCabin'] = df2['Cabin'].notnull().astype(int)

In [6]:
# Extract 'Title' from 'Name'
df1['Title'] = df1['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
df2['Title'] = df2['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Group rare titles
title_replacements = {
    'Mlle': 'Miss', 'Ms': 'Miss', 'Mme': 'Mrs',
    'Dr': 'Other', 'Rev': 'Other', 'Col': 'Other', 'Major': 'Other',
    'Capt': 'Other', 'Jonkheer': 'Other', 'Don': 'Other', 'Sir': 'Other',
    'Lady': 'Other', 'Countess': 'Other'
}
df1['Title'] = df1['Title'].replace(title_replacements)
df2['Title'] = df2['Title'].replace(title_replacements)

# Create 'FamilySize' feature
df1['FamilySize'] = df1['SibSp'] + df1['Parch'] + 1
df2['FamilySize'] = df2['SibSp'] + df2['Parch'] + 1

# Categorize 'Age' into bins
df1['AgeGroup'] = pd.cut(df1['Age'], bins=[0, 12, 18, 35, 60, 100], labels=['Child', 'Teen', 'YoungAdult', 'Adult', 'Senior'])
df2['AgeGroup'] = pd.cut(df2['Age'], bins=[0, 12, 18, 35, 60, 100], labels=['Child', 'Teen', 'YoungAdult', 'Adult', 'Senior'])

# Categorize 'Fare' into bins
df1['FareGroup'] = pd.qcut(df1['Fare'], q=4, labels=['Low', 'Mid', 'High', 'VeryHigh'])
df2['FareGroup'] = pd.qcut(df2['Fare'], q=4, labels=['Low', 'Mid', 'High', 'VeryHigh'])

# Drop unnecessary columns
df1 = df1.drop(['Name', 'Ticket', 'Cabin'], axis=1)
df2 = df2.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [7]:
# Convert 'Sex' into binary (0 = Male, 1 = Female)
df1['Sex'] = df1['Sex'].map({'male': 0, 'female': 1})
df2['Sex'] = df2['Sex'].map({'male': 0, 'female': 1})

# One-hot encode categorical variables
df1 = pd.get_dummies(df1, columns=['Embarked', 'Title', 'AgeGroup', 'FareGroup'], drop_first=True)
df2 = pd.get_dummies(df2, columns=['Embarked', 'Title', 'AgeGroup', 'FareGroup'], drop_first=True)

# Ensure both datasets have the same columns
missing_cols = set(df1.columns) - set(df2.columns)
for col in missing_cols:
    df2[col] = 0  # Add missing columns in test set

# Ensure test set has the same feature columns as train set
df2 = df2[df1.columns.drop('Survived')]  # Drop 'Survived' from train set to match test

In [8]:
from sklearn.ensemble import RandomForestClassifier
# Define target variable
y = df1["Survived"]

# Define feature set (excluding PassengerId and Survived)
features = df1.columns.drop(['Survived', 'PassengerId'])
X = df1[features]
X_test = df2[features]  # Ensure test set matches train features

# Initialize and train RandomForest model
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

# Make predictions on test set
predictions = model.predict(X_test)

In [9]:
# Save results to a CSV file for Kaggle submission
output = pd.DataFrame({'PassengerId': df2['PassengerId'], 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [10]:
import pandas as pd

# Load the generated file to verify
submission = pd.read_csv('submission.csv')
print(submission.head())
print(submission.shape)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
(418, 2)